#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/upstream-tarball.mk
include /usr/share/cdbs/1/rules/utils.mk


DEB_UPSTREAM_URL = https://noto.googlecode.com/files
DEB_UPSTREAM_TARBALL_MD5 = 9a8517a27cdbeb0dfb51559f0e2aa3ca

DEB_UPSTREAM_PACKAGE = NotoFonts-hinted
DEB_UPSTREAM_TARBALL_BASENAME = ${DEB_UPSTREAM_PACKAGE}-${DEB_UPSTREAM_VERSION}
DEB_UPSTREAM_TARBALL_EXTENSION = tgz

binary-fixup/fonts-noto::
	chmod -x debian/fonts-noto/usr/share/fonts/truetype/Noto/*.ttf

# Ignore fonts which generate binary copyright information
DEB_COPYRIGHT_CHECK_IGNORE_REGEX = (NotoSansEthiopic-Bold.ttf|NotoSansTamil-Bold.ttf|NotoSerif-Italic.ttf|NotoSansDevanagari.ttf|NotoSans-Bold.ttf|NotoSansDevanagariUI-Regular.ttf|NotoSansUI-Bold.ttf|NotoSerif-BoldItalic.ttf|NotoSansDevanagari-Regular.ttf|debian/(changelog|copyright(|_hints|_newhints)))

# resolve font facts for package description
CDBS_BUILD_DEPENDS +=, lcdf-typetools
fonts-scriptcount := $(shell otfinfo -s fonts/individual/hinted/* | perl -pe 's/^.*\t+//' | sort -u | grep -c .)
fonts-familylist := $(shell otfinfo -a fonts/individual/hinted/* | cut -d: -f2 | sort -u | perl -0 -F/\\n/ -ane 'print " * ", join("\$${Newline} * ",@F)')
$(patsubst %,install/%,$(DEB_ALL_PACKAGES)) :: install/%:
	echo 'fonts:scriptcount=$(fonts-scriptcount)' >> debian/$(cdbs_curpkg).substvars
	echo 'fonts:familylist=$(fonts-familylist)' >> debian/$(cdbs_curpkg).substvars
